<div>
    <h1 class="alert">Batches</h1>
</div>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="row">#</th>
            <th>Reference</th>
            <th>Purchase Channel</th>
            <th>Orders</th>
        </tr>
    </thead>
    <tbody>
        <% batches = Batch.all.order(id: :desc) %>
        <% batches.each do |batch| %>
            <tr>
                <th scope="row"><%= batch.id %></th>
                <td><%= batch.reference %></td>
                <td><%= batch.purchaseChannel %></td>
                <td><%= batch.orders%></td>
            </tr>
        <% end %>
    </tbody>
</table>
